<!DOCTYPE html>
<html>
<head>
  <title>SimpleFormInputs</title>
  <%= stylesheet_link_tag    "simple_form_inputs/application", media: "all" %>
  <%= javascript_include_tag "simple_form_inputs/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
