= simple_form_for @object, html: {class: 'form-horizontal', role: 'form' }, defaults: { label_html: { class: 'col-lg-2' }, input_html: { class: 'form-control'} } do |f|
  = f.input :name, as: :gender, gender_labels: GenderInput::DEFAULT_LABELS

  = f.input :round

  = button_tag :submit, class: 'btn btn-primary btn-edit btn-edit-form'
